
<style>
	.err {
		color:red;
		text-align:center;
		margin:50px;
		font-size: 120%;
		border: 1px solid lightgrey;
		padding: 50px;
	}

</style>

<script src="/common/js/common.js"></script>

<div class="err">

	<b>Error:</b> <%=err%>
	
</div>
