<!Doctype html>
<html>
<head><title>Account Activation</title></head>
<body>

<link type="text/css" rel="stylesheet" href="/css/common.css">
<link type="text/css" rel="stylesheet" href="/css/activation.css">

<div class="content">
    <div class="header">
        <div class="logo">
            <div class="logo-img"><img src="/images/logo.png"></div>
            <div style="clear:both"> </div>
        </div>
        <div class="act-title">
            
        </div>
        <div class="clear"> </div>
    </div>

    <div class="page-content">
    	<p>
    		This is an invalid Account Activation code. 
    		<br>
    		Please check your email and try again.
		</p>
    </div>
</div>

</body>
</html>
