<!Doctype html>
<html>
<head><title>Stripe Connect Redirect Response</title></head>
<body>

<% if(err) { %>
	<b style='color:red'>ERROR: <%=err%></b>
<% } else { %>
	<b> Connected Successfully to your Stripe Connect </b><br>
	
	<a href='/stripeconnect/remove/<%=userid%>?r=<%=random%>'>
	
		Disconnect Your Stripe Account
	
	</a>
	
<% } %>

</body>
</html>
