
<% include ../common/sheader %>

<p>
	Hi <b><%=appl.firstname%> <%=appl.lastname%></b>, 
	<div>
		Your email id <b><%=appl.email%></b> is verified successfully
		<br>
	</div>
</p>

<% include ../common/sfooter %>