
<link type="text/css" rel="stylesheet" href="/common/css/index.css">
<link rel="stylesheet" type="text/css" href="/banner/css/responsiveslides.css">
<link type="text/css" rel="stylesheet" href="/index/css/index.css">

<script src="/banner/js/responsiveslides.min.js"></script>

<div class="cntr">
	
	<div class="table-cntr">

	<script type="text/javascript">
		var PAGE_TITLE = "Smyle Developer Software";
	</script>
		
	</div>
	
</div>
