
.details {
	min-height: 300px;
	margin: 40px 10px 50px;
	border: 1px solid lightgrey;
}

.manage {
	border: none;
	border-bottom: 1px solid lightgrey;
}

.manage-title {
	float: left;
}

.chdr-butts {
	float: right;
	text-align: right;
	padding: 10px;
}

.lbl {
	font-size: 90%;
}

.immutable .lbl {
	text-align: right;
	width: 150px;
	float: left;
}

fieldset {
	margin: 0px;
	padding: 10px 0px;
}

legend {
	border-bottom: 1px solid #ddd;
	font-weight: normal;
	font-size: 110%;
	padding: 0 0 8px 0;
	display: block;
	width: 100%;
	color: #444;
	margin-left: -1px;	
}

.ro-lbl {
	margin-left: 100px;
	font-size: 80%;
	font-weight: normal;
}

.ro {
	margin-left: 20px;
	font-size: 90%;
	font-weight: bold;
}

.created {
	position: absolute;
	float: right;
	right: 100px;
}

.created .ro-lbl {
	font-size: 85%;
}

.fields-image {
	float: right;
	position: absolute;
	right: 10px;
	top: 120px;
}

.fields-image .lbl {
	text-align: left;
}

.fields-disp-image img {
	width: 100px;
	height: auto;
}

.manage {
	border: none !important;
}

.manage-err {
	border-bottom: 1px solid lightgrey;	
}


.chdr-butts a {
	margin: 0px 10px;
}
