
.note-manage {
	padding: 20px 20px 10px;
	background-color: #EEE;
}

.note-msg {
	width: 500px;
	height: 100px;
}

.note-butts {
	margin-top: 10px;
}

.note-list {
	background-color: #EEE;
}

.note-row {
	border-top: 1px solid lightgrey;
	clear: both;
}

.note-row-msg {
	padding: 8px 30px;
	word-wrap: break-word;
	position: relative;
	font-size: 85%;
	float: left;
}

.note-row-info {
	font-size: 80%;
	padding: 5px 10px 0px;
	font-style: italic;
	float: right;
	position: relative;
	right: 10px;
}

.note-row-info span {
	font-weight: bold;
}

table.note-tbl {
	border-collapse: collapse;
	font-size: 85%;
	margin: 10px 0px;
}

table.note-tbl, table.note-tbl th, table.note-tbl td {
	border: 1px solid lightgrey;
	padding: 5px;
}	
