

.overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 75px;
	z-index: 101;	
}

.overlay-hdr {
	color: #FFF;
	background-color: #6EA530;
	height: 50px;
	line-height: 50px;
}

.overlay-hdr .title3 {
	padding: 0px 10px
}

.overlay-bg {
	background: #FFF;
	opacity: 0.8;
	z-index: 100;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

