<!Doctype html>
<html>
<head><title><%=PAGE_TITLE%></title></head>
<body>

<link type="text/css" rel="stylesheet" href="/common/css/common.css">
<link type="text/css" rel="stylesheet" href="/common/css/public-common.css">

<script src="/jquery/jquery-1.9.1.js"></script>
<script src="/jquery/json/jquery.json-2.4.min.js"></script>

<div class="content">

	<div class="header">
		<div class="header-line1">
			<div class="logo">
				<div class="logo-img"><img src="/common/images/logo.png"></div>
				<div style="clear:both"></div>
			</div>
			<div class="clear"></div>
		</div>		
	
		<div class="header-line2">

		</div>
		<div class="clear"></div>
	</div>
	
	<div class="page-content">
