<!Doctype html>
<html>
<head><title><%=title%></title></head>
<body>

<link type="text/css" rel="stylesheet" href="/common/css/common.css">
<link type="text/css" rel="stylesheet" href="/common/css/spage.css">

<div class="content">
    <div class="header">
        <div class="logo">
            <div class="logo-img"><img src="/common/images/logo.png"></div>
            <div style="clear:both"> </div>
        </div>
        <div class="active-title">
            <%=title%>
        </div>
        <div class="clear"> </div>
    </div>

    <div class="page-content">